/Demo_Base64_Single_Image_Encoder.py
/opc_client.py
/opc_ua_practice
/server_client_minimal
/test.py
/dump
opc_ua_server/gsh_opc_platform (multi device)/__pycache__/gsh_opc_platform_server.cpython-39.pyc
opc_ua_server/gsh_opc_platform (multi device)/server_node_history.db
opc_ua_server/gsh_opc_platform (multi device)/__pycache__/gsh_opc_platform_server.cpython-38.pyc
opc_ua_server/gsh_opc_platform (multi device)/server_logs_history.txt
opc_ua_server/gsh_opc_platform (multi device)/server_log_test.py
opc_ua_server/test_history_server.py
